PORT= ''
DB_HOST= ''
DB_USERNAME= ''
DB_PASSWORD= ''
DB_NAME= ''
POSTGRES_HOST =  ''
POSTGRES_USER = ''
POSTGRES_PASSWORD = ''
POSTGRES_DATABASE = ''
POSTGRES_CONNECTION_NAME = ''
PUBLIC_KEY = ""
DEXCOM_API_URL = ''
DEXCOM_AUTH_URL = ''
DEXCOM_SECRET_KEY = ''
DEXCOM_CLIENT_ID = ''
DOCSINK_ORG_API_URL = ''
DEXCOM_REDIRECT_URI = ''
BOTS_HOST = ''
BOTS_USER = ''
BOTS_PASSWORD = ''
BOTS_DATABASE = ''
BOTS_CONNECTION_NAME = ''
BOTS_SCHEMA = ''
PATIENT_SECRET_KEY = ''
BOTS_API_TOKEN = ''
BOTS_API_URL= ''